*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
.wrapper{
    width: 1400px;
    height: 4000px;
    margin: 0 auto;
}
.logo{
    width: 216px;
    height: 33px;
    background-image: url("./img/logo.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;
}
.contacts{
    display: flex;
    gap: 28px;
    color: #E4B564;
    align-items: center;
}
.phone {
    color: #E4B564;
    text-decoration:none;
}
.link_button{
    width: 218px;
    height: 50px;
    display: flex;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    gap: 10px;
    align-items: center;
    align-self: center;
    justify-content: center;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    text-decoration:none;
    color: #E4B564 ;
}
.phone_color{
    color: white;
}
.link_button:before{
    content: "";
    background-image: url("./img/Vector.png");
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    left: 16px;
}
.main_description{
    color: white;
    margin-top: 128px;
    line-height: 28px;
    font-weight: 700;
}
h2{
    margin-top: 128px;
    font-size: 50px;
    color: white;
}
.description {
    margin-top: 41px;
    font-size: 20px;
    color: white;
}
.grid_container1{
    margin-top: 40px;
    height: 400px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

}
a{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: white;
}
.grid_item_1 {
    background-color: #634F2C;
    text-align: center;
    position: relative;
}
.inner_grid1{
    position: absolute;
    top: 170px;
    left: 150px;
}
.grid_item_2{
    background-color: #B4A385;
    text-align: center;
    position: relative;
}
.inner_grid2{
    position: absolute;
    top: 170px;
    left: 30px;
}
.grid_container2{
    height: 467px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 27px;
}
.grid_item_3{
    background-color: #E4B564;
    text-align: center;
    position: relative;
}
.inner_grid3{
    position: absolute;
    top: 170px;
    left: 140px;
}
.grid_item_4{
    background-color: #635A4A;
    text-align: center;
    position: relative;
}
.inner_grid4{
    position: absolute;
    top: 170px;
    left: 170px;
}
.grid_item_5{
    background-color: #B08C4D;
    text-align: center;
    position: relative;
}
.inner_grid5{
    position: absolute;
    top: 170px;
    left: 250px;
}
.about_us{
    margin-top: 161px;
    font-size: 50px;
    line-height: 28px;
    font-weight: 700;
}
.grid_container_about{
    height: 80vw;
    margin-top: 94px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 255px 58px 126px 58px 247px 277px;
    grid-gap: 30px;
}
.grid_item_7{
    background-color: #0E0E0E;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
}
.inner_grid7{
    position: absolute;
    top: 44px;
    left: 52px;
}
.grid_item_8{
    background-color: #242424;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
}
.inner_grid8 {
    position: absolute;
    top: 44px;
    left: 48px;
}
.grid_item_9 {
    background-color: #1F1F1F;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    position: relative;
}
.inner_grid9{
    position: absolute;
    top: 44px;
    left: 51px;
}
.grid_item_10{
    background-color: #1F1F1F;
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 7;
    position: relative;
}
.inner_grid10{
    position: absolute;
    top: 56px;
    left: 52px;
}
.grid_item_11{
    background-color: #E4B564;
    text-align: center;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
}
.inner_grid11{
    position: absolute;
    top: 47px;
    left: 52px;
    color: black;
}
.grid_item_12{
    background-color: #0E0E0E;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 6;
    position: relative;
}
.inner_grid12{
    position: absolute;
    top: 44px;
    left: 48px;
}
.grid_item_13{
    background-color: #0A0909;
    text-align: center;
    grid-row-start: 6;
    grid-row-end: 7;
    position: relative;
}
.inner_grid13{
    position: absolute;
    top: 44px;
    left: 48px;
}
.footer_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
    align-items: baseline;
}
.footer_button{
    width: 218px;
    height: 50px;
    display: flex;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    gap: 10px;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    text-decoration:none;
    color: #E4B564 ;
}
.footer_container{
    margin-top: 72px;
    display: grid;
    height: 1000px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid_item_14{
    background-color: #634F2C;
    position: relative;
}
.grid_item_15{
    background-color: #e8d2ab;
    position: relative;
}
.grid_item_16{
    background-color: #E4B564;
    position: relative;
}
.grid_item_17{
    background-color: #635A4A;
    position: relative;
}
.grid_item_18{
    background-color: #B08C4D;
    position: relative;
}
.grid_item_19{
    background-color: #634F2C;
    position: relative;
}
.inner_grid_14{
    width: 185px;
    height: 49px;
    background-image: url("./img/euro.png");
    background-color: #634F2C;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 140px;
    top: 150px;
}
.inner_grid_15_1{
    width: 62px;
    height: 55px;
    background-image: url("./img/mavic.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #e8d2ab;
    position: absolute;
    left: 210px;
    top: 60px;
}
.inner_grid_15_2{
    width: 139px;
    height: 55px;
    background-image: url("./img/mavic2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #e8d2ab;
    position: absolute;
    left: 170px;
    top: 115px;
}
.inner_grid_15_3{
    width: 326px;
    position: absolute;
    top: 168px;
    left: 80px;
    text-align: center;
    color: white;
}
.footer_text{
    display: block;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    background-color: #e8d2ab;
}
.footer_adress{
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    background-color: #e8d2ab;
}
.inner_grid_16{
    width: 190px;
    height: 42px;
    background-image: url("./img/arsenal.png");
    background-color:#E4B564;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 140px;
    top: 150px;
}
.inner_grid_17{
    width: 190px;
    height: 42px;
    background-image: url("./img/arsenal.png");
    background-color:#635A4A;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 140px;
    top: 150px;
}
.inner_grid_18 {
    width: 107px;
    height: 52px;
    background-image: url("./img/setgrop.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color:#B08C4D ;
    position: absolute;
    left: 190px;
    top: 130px;
}
.inner_grid_19{
    width: 185px;
    height: 49px;
    background-image: url("./img/euro.png");
    background-color: #634F2C;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 140px;
    top: 150px;
}
