.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.image-to-show {
    display: none;
    animation: fadeOut 480ms linear;
    width: 350px;
    height: 350px;
}

.btn {
    width: 200px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.active{
    animation: fadeIn 500ms linear;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
