.root {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-btn {
    cursor: pointer;
    border-radius: 16px;
    width: 150px;
    height: 70px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    background-color: rgb(49, 202, 7);
    color: rgb(255, 255, 255);
    margin: 25px;
}

p {
    font-size: 30px;
    text-transform: uppercase;
}
