*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
.background{
    width: 100%;
    height: 1012px;
    background-image: url("./img/Sections background/section-1(header).jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.content-wrapper{
    width: 1160px;
    margin: 0 auto;
}
header{
    width: 100%;
    background-color: #5E5D5899;
    display: flex;
    justify-content: center;
}
.navbar{
    width: 1200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.logo-text{
    margin-left: 6px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}
.logo-span{
    color: #18CFAB;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.logo:before{
    content:"";
    width: 31px;
    height: 31px;
    background-image: url("./img/logo-in.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 14px;
    top: 18px;
}
.icon{
    width: 58px;
    height: 67px;
}
ul{
    display: flex;
    gap: 21px;
    list-style: none;
}
.search-input {
    width: 0;
    overflow: hidden;
    transition: width 0.5s;
    position: absolute;
    left: 1475px;
    top: 50px;
    border: none;
}

.search-input:focus {
    width: 150px;
    border: none;
}
.search-icon{
    width: 21px;
    height: 24px;
    position: absolute;
    top: 47px;
    right: 430px;
}
.links:hover{
    color: #18CFAB;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.home{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    gap: 22px;
}
h2{
    font-weight: 700;
    font-size: 35px;
}
h1{
    font-weight: 700;
    font-size: 78px;

}
h3{
    color: #D4D4D4;
    font-weight: 400;
    font-size: 35px;
    text-transform: none;
}
.buttons{
    margin-top: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
}
.explore-button{
    width: 169px;
    height: 63px;
    border: 1px solid #18CFAB;
    border-radius:6px;
    background-color: #18CFAB;
    border-top: 4px solid #FFFFFF;
}
.explore-button:hover{
    border-top: none;
}
.purchase-button{
    width: 169px;
    height: 63px;
    border: 1px solid #00CBF6;
    border-radius:6px;
    background-color: #00CBF6;
    border-top: 4px solid #FFFFFF;
}
.purchase-button:hover{
    border-top: none;
}
.btn{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.options{
    width: 100%;
    margin-top: 4px;
    display: flex;

}
.option1{
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 482px;
    background-color: #1C2A33;
    gap: 48px;

}
.option-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    cursor: pointer;
}
.option1_in{
    color: #18CFAB;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.touch{
    width: 57px;
    height: 97px;}


.option2{
    height: 360px;
    width: 482px;
    background-color: #18CFAB;
}

.option2_in{
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.diamond{
    width: 93px;
    height: 75px;
}
.option3{
    height: 360px;
width:482px;
    background-color: #1C2A33;
}
.light{
    width: 60px;
    height: 96px;
}
.option4{
    height: 360px;
width: 482px;
    background-color: #18CFAB;
}
.device{
    width: 99px;
    height: 76px;
}
.service{
    margin-top: 90px;
    text-align: center;
    color: #4E4E4E;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.tabs-list {
    display: flex;
    padding-top: 70px;
    padding-bottom: 13px;
}

.tabs-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab {
    display: flex;
    justify-content: center;
    width: 194px;
    padding: 28px 0;
    color: black;
    background-color: #f8fcfe;
    border: 1px solid #edefef;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.tab:hover {
    border: 2px solid #18cfab;
    padding: 27px 0;
}
.tab-color {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: #ffffff;
    margin-bottom: -2px;
}
.tabs-hidden-text {
    display: none;
}
.tabs-hidden {
    visibility: hidden;
}
.tabs-content-list{
    display: flex;
    justify-content: flex-start;
}
.tabs-content {
    width: 100%;
}
.tabs-text {
    padding-left: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: rgba(119, 119, 119, 1);
}
.section2{
    margin-top: 91px;
    height: 477px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url("./img/Sections background/section-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section-title{
    padding: 12px;
    color: #18CFAB;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}
.section-text{
    color: #D8D8D8;
    font-weight: 400;
    font-size: 16px;
}
.purchase-button-green{
    margin-top: 67px;
    width: 169px;
    height: 63px;
    border: 1px solid #00CBF6;
    border-radius:6px;
    background-color: #18CFAB;
    border-top: 4px solid #FFFFFF;
}
.purchase-button-green:hover{
    border-top: none;
}
.amazing-work {
    padding: 70px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-tabs {
    display: flex;
    justify-content: center;
}
.work-tabs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-tab {
    display: flex;
    justify-content: center;
    padding: 12px 28px;
    color: rgba(113, 113, 113, 1);
    border: 1px solid rgba(218, 218, 218, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    cursor: pointer;
}
.work-tab:hover {
    border: 1px solid rgba(24, 207, 171, 1);
    color: rgba(24, 207, 171, 1);
    padding: 12px 30px;
}
.work-tab-active {
    border: 1px solid rgba(24, 207, 171, 1);
    color: rgba(24, 207, 171, 1);
    padding: 12px 30px;
}
.work-hidden {
    padding-top: 71px;
    display: grid;
    grid-template-columns: repeat(4, 290px);
    grid-template-rows: repeat(3, 205px);
    gap: 0;
}
.tab-container {
    position: relative;
}
.tab-hover {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: #e9edef;
}
.tab-container:hover > .tab-hover {
    display: flex;
    border-top: 2px solid rgba(24, 207, 171, 1);
}
.tabTitle {
    font-size: 14px;
    font-weight: 700;
    color: rgba(24, 207, 171, 1);
    text-transform: uppercase;
    margin-top: 25px;
    cursor: pointer;
}
.tabText {
    font-size: 12px;
    font-weight: 300;
    color: rgba(138, 138, 138, 1);
    margin-top: 10px;
    cursor: pointer;
}
.work-button {
    background: rgba(24, 207, 171, 1);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    width: 168px;
    position: relative;
    height: 63px;
    overflow: hidden;
    margin-top: 50px;
}
.load-icon {
    margin-left: 23px;
}
.work-button .load-more {
    width: 168px;
    display: block;
    pointer-events: none;
}
.tabs-work{
    margin-left: 300px;
    width: 582px;
    margin-top: 69px;
    display: flex;
    align-items: center;
    color: #717171;
    justify-content: space-around;
    height: 58px;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-size: 16px;
}
.load-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.load-more{
    height: 83px;
    margin-top: 67px;
    margin-left: 28px;
    position: relative;
}
.load-more:before{
    content: "";
    width: 18px;
    height: 19px;
    background-image: url("./img/+.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 65px;
    left: -3px;

}
.grid{
    margin-top: 68px;
    width: 100%;
    height: 281px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 55px 37px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}
.img{
    width: 263px;
    height: 208px;
    position: relative;
    overflow: hidden;
}
.img1{
    background-image: url("./img/news/img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img2{
    background-image: url("./img/news/img2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img3{
    background-image: url("./img/news/img3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img4{
    background-image: url("./img/news/img4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img5{
    background-image: url("./img/news/img5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img6{
    background-image: url("./img/news/img6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img7{
    background-image: url("./img/news/img7.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
.img8{
    background-image: url("./img/news/img8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}
.description{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

}
.link-description{
    margin-top: 4px;
    margin-left: 15px;
    color: #717171;
    font-weight: 700;
    font-size: 18px;
}
.link-info{
    margin-top: 12px;
    margin-left: 8px;
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    position: relative;
}
.link-info:nth-child(1){
    margin-right: 22px;
}
.hidden-block{
    width: 66px;
    height: 65px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 12px 12px;
    background-color: #203E38;
    position: absolute;
    right: -67px;
    transition: .75s;
}
.link-description:hover{
    color: #18CFAB;
}
.date{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.label{
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: white;
}
.month{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: white;
}
.item:hover .img .hidden-block{
    right:  0;
    background-color: #18CFAB;
    transition:all 1s ease-in;
}
.section3{
    margin-top: 454px;
    height: 554px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url("./img/Sections background/section-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section-title-head {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
}
.shape{
    width: 44px;
    height: 30px;
    margin-top: 68px;
}
.text-content{
    width:1160px;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    align-items: center;
    text-align: center;
}
.section3-title {
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.client-feedback {
    width: 100%;
    height: 954px;
    margin-top: 463px;
    display: flex;
    justify-content: center;
    background-image: url("./img/Sections background/section-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.people {
    width: 1160px;
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.people-title{
    font-size: 36px;
    font-weight: 400;
}
.people-lines .people-line:first-child {
    width: 75px;
    border-bottom: solid rgba(24, 207, 171, 1) 1px;
    padding-top: 24px;
}
.people-lines .people-line:last-child {
    width: 78px;
    border-bottom: solid rgba(24, 207, 171, 1) 1px;
    padding-top: 2px;
    margin-left: 8px;
}
.client-text {
    position: relative;
    padding: 50px 0;
    width: 100%;
    margin-top: 37px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}
.feedback-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
}
.client-job {
    font-weight: 300;
    font-size: 13px;
    text-transform: none;
    color: #BBBBBB;
}
.client-info {
    text-align: center;
    width: 100%;
    margin-top: 37px;
    position: relative;
    padding: 50px;
    font-size: 16px;
}
.client {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
    opacity: 0;
}
.start {
    opacity: 1;
}
.client-img {
    position: relative;
    margin-top: 57px;
    gap: 30px;
    display: flex;
    justify-content: space-around;
}
.faces{
    width: 66px;
    height: 58px;
    background-size: cover;
}
.client-wrapper {
    margin-top: 30px;
    border-radius: 50%;
    height: 67px;
    cursor: pointer;
    border: 5px solid rgba(31, 218, 181, 0.2);
}
.client-wrapper.selected-client {
    transform: scale(2);
    animation: selected-client 100ms ease-in-out;
}
@keyframes selected-client {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(2);
    }

    75% {
        transform: scale(2.5);
    }

    100% {
        transform: scale(3);
    }
}
.client-wrapper.chosen {
    transform: translate(0, -10%);
    transition: 150ms ease-in-out;
}
.client-wrapper:nth-child(1) {
    left: 0;
}
.client-wrapper:nth-child(2) {
    left: 30%;
}
.client-wrapper:nth-child(3) {
    right: 30%;
}
.client-wrapper:nth-child(4) {
    right: 0;
}
.prev,
.next {
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    color: #BBBBBB;
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.prev:hover,
.next:hover {
    background-color: #18CFAB;
    color: white;
}
.prev {
    right: 120%;
}
.next {
    left: 120%;
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-gallery{
    margin-top: 72px;
    width: 100%;
    height: 921px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(15,1fr);
    gap: 20px;
}
.grid-gallery-hidden{
    display: none;
    margin-top: 72px;
    width: 100%;
    height: 921px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(15,1fr);
    gap: 20px;
}
.grid-item1{
    background-image: url("./img/Gallery/item1.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-item2{
    background-image: url("./img/Gallery/item2.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-row-start: 6;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-item3{
    background-image: url("./img/Gallery/item3.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-row-start: 10;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-item4{
    background-image: url("./img/Gallery/item4.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
}
.grid-item5{
    background-image: url("./img/Gallery/item5.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 3;
}
.grid-item6{
    background-image: url("./img/Gallery/item6.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-row-start: 12;
    grid-row-end: 16;
    grid-column-start: 2;
    grid-column-end: 3;
}
.grid-item7{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    gap: 3px;
}
.grid-item7-1{
    background-image: url("./img/Gallery/item7.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item7-2{
    background-image: url("./img/Gallery/item8.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-start: 4;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 4;
    gap: 3px;
}
.grid-item9{
    background-image: url("./img/Gallery/item9.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item10{
    background-image: url("./img/Gallery/item10.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item11{
    background-image: url("./img/Gallery/item11.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item12{
    background-image: url("./img/Gallery/item12.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item13{
    background-image: url("./img/Gallery/item13.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item14{
    background-image: url("./img/Gallery/item14.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item15{
    background-image: url("./img/Gallery/item15.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item16{
    background-image: url("./img/Gallery/item16.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item17{
    background-image: url("./img/Gallery/item17.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item18{
    background-image: url("./img/Gallery/item18.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-row-start: 9;
    grid-row-end: 14;
    grid-column-start: 3;
    grid-column-end: 4;
}
.grid-gallery-wrapper{
    width: 1160px;
    margin: 0 auto;
}
.load-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#loadMore{
    color: white;
    margin-top: 67px;
    width: 169px;
    height: 63px;
    border: 1px solid #00CBF6;
    border-radius:6px;
    background-color: #18CFAB;
    position: relative;
    font-weight: 700;
    font-size: 14px;
}
#loadMore:before{
    content: "";
    width: 18px;
    height: 19px;
    background-image: url("./img/+.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 22px;
    left: 29px;
}
.footer{
    display: flex;
    margin-top: 112px;
    height: 121px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #22353F;

}
.footer-text{
    width: 100%;
    bottom: 0;
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
}


