@font-face {
    font-family: ubuntu;
    src: url("./fonts/Ubuntu-Regular.woff2"),
    url("./fonts/Ubuntu-Regular.woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ubuntu, sans-serif;
}
a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}
ul {
    display: flex
}
.background {
    width: 100vw;
    height: 100vh;
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content-wrapper {
    width: 100%;
}

.header {
    width: 100%;
    height: 58px;
    background-color: #00000066;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1360px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
}
.logo:hover{
    color: #3CB878
}

.login {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.login:hover{
    color: #3CB878;
}
.headerLogin{
    height: 21px;
}
.svg:hover path {
    fill: #3CB878; ;
}
.headerLogin:before {
    content: "";
    border-left: 2px solid #FFFFFFE5;
    margin-right: 27px;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 895px;
    margin-right: 25px;
}
.headerIcons{
    display: flex;
    margin-left: 24px;
}

.headerIcons:hover{
    color: #3CB878;
}

.span {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.form-wrapper {
    width: 100%;
    height: calc(100vh - 58px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    height: 584px;
    width: 444px;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;

}

.form:before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 30px;
    left: 0;
    border: none;
}

.headForm {
    width: 100%;
    padding: 25px 59px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.headLog {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.headLog:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.socialnet {
    width: 100%;
    display: inline-flex;
}

.links {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
}

.facebook {
    width: 160px;
    height: 48px;
    border: 2px solid #305DB8;
    background-color: #305DB8;
    border-radius: 6px;
    margin-left: 60px;
}

.facebook:hover {
    background-color: #022263
}

.google {
    width: 160px;
    height: 48px;
    border: 2px solid #DF4A32;
    background-color: #DF4A32;
    border-radius: 6px;
    margin-left: 6px;
}

.google:hover {
    background-color: #AB1F09;
}

.fButton {
    font-size: 16px;
    line-height: 16px;
    margin-top: 9px;
    color: #FFFFFF;
    align-items: center;
    display: inline-flex;

}

.fButton:before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(./img/Facebook.png);
    background-size: cover;
    margin-right: 36px;
    margin-left: 9px;
    background-repeat: no-repeat;

}

.gButton {
    font-size: 16px;
    line-height: 16px;
    margin-top: 8px;
    color: #FFFFFF;
    align-items: center;
    display: inline-flex;
}

.gButton:before {
    content: "";
    width: 30px;
    height: 19px;
    background-image: url(./img/G+.png);
    background-size: cover;
    margin-right: 37px;
    margin-left: 9px;
    background-repeat: no-repeat;
}

.gButton:after {
    height: 28px;
    content: "";
    border-left: 1px solid #0A162F;
    margin-left: -78px;
    opacity: 0.2;
}

.text{
    display: flex;
    width: 324px;
    height: 1px;
    margin-top: 31px;
    margin-bottom: 16px;
    margin-left: 60px;
    background-color: #F2F2F2;
    position: relative;
}
.text:after{
    content: 'or';
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    top: -10px;
    left: 48%;
    color: #848484;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 5px;
    max-height: 400px;
    max-width: 324px;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.box {
    width: 100%;
    height: 100%;
    max-height: 70vh;
    max-width: 325px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 13px;
    font-size: 14px;
}

.input:focus {
    outline: none;
    border: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox-wrapper {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 11px;
}

.input {
    outline: none;
}

input[type=checkbox] {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
    cursor: pointer;
}

.checkbox {
    width: 18px;
    height: 18px;
    position: relative;
    border: 1px solid #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-hidden:checked ~ .checkbox .mark {
    display: block;
}

.mark {
    display: none;
}

.agreeform {
    color: #434343;
}

.formAction {
    margin-top: 20px;
}

.terms {
    color: #3CB878;
}

.checkbox-wrapper:hover .terms {
    color: #008144;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.createButton {
    width: 324px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    background-color: #3CB878CC;
    cursor: pointer;
}

.formAction:hover .createButton {
    background-color: #008141;
}