@import url(stylesheet.css);
*{
    box-sizing: border-box;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
}
.wrapper{
    width: 1280px;
    margin: 0 auto;
}
.link{
    text-decoration-line: none;
}
.h1{
font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
}
.link_black{
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: black;
}
.container{
    width: 1280px;
    display:flex ;
    align-items: center;
    background-color: #35444F;
    margin-top: 38px;
    height: 72px;
    white-space: nowrap;
}
.menu_top{
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 20px;
    border-left: 1px solid #ffffff;
    align-items: center;
    text-align: center;
    justify-content:space-between;

}
a
{text-decoration-line: none;
}
.link_top{
    color: white;
}
.link_left{
    color: #485863;
}
.link_footer{
    color: #0C1927;
}
.menu_top:nth-child(1){
    margin-left: 194px;
}
.menu_top:nth-child(4){
    margin-right: 150px;
    border-right: 1px solid white;
}
.scale{
    transition:transform .25s;
    transform-style: flat;
}
.scale:hover {
    transform: scale(.8);
}
.flex_container{
    width: auto;
    display: flex;
}
.menu_left {
    width: 344px;
    height: 344px;
    margin-top: 49px;
    border: 1px solid black;
    flex-direction: column;
}
.link_left_bcg{
    color: #495863;
}
.link_left_bcg:hover{
    color: #373737;
    background-color: #DBDBDB;
    padding: 0 60px;
}
.menu_nav{
    margin-top: 26px;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    margin-left: 44px;
    color: #495863;

}
.scale:hover {

}

.img{
    margin-top: 48px;
    width: 884px;
    height: 529px;
    margin-left: 52px;
    border: 1px solid #000000;
}
.picture{
    width: 320px;
    height: 381px;
    background-image: url("img.png");
    background-position: center center;
    background-size: cover;
    margin-top: 75px;
    margin-left: 297px;
    margin-bottom: 73px;
}
.text_sections{
    width: 884px;
}
.text_description{
    width:884px ;
    margin-top: 37px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    justify-content: flex-start;
    margin-left: 394px;
}
.text_translation{
    width: 884px;
    margin-top: 34px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    justify-content: flex-start;
    margin-left: 394px;
}
.footer_container{
    width: 1280px;
    height: 69px;
    display: flex;
    margin-top: 54px;
    margin-bottom: 30px;
    background-color: rgba(99,105,110,0.48);
    justify-content: space-between;
    text-align: justify;
    text-decoration: none;
}
.footer{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    align-self: center;
    color: black;
}
.footer:nth-child(1){
    margin-left: 40px;
}
.underline{
    color: #3181A6;
    text-decoration: underline;
    text-underline-offset: 13px;
}
.scale:hover{
    color: black;
}

.footer_copy{
    font-size: 22px;
    line-height: 24px;
    margin-left: 135px;
    align-self: center;
    margin-right: 40px;
}
