*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}
.background{
    width: 100vw;
    height: 100vh;
    background-image: url("./background.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.content-wrapper{
    width: 1030px;
    height: 100vh;
    margin: 0 auto;
}
.header{
    width: 100%;
    padding: 40px 0;
}
.header-wrapper{
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
}
.icon{
    width: 53px;
    height: 47px;
    fill: currentColor;
}
.text{
    display: flex;
    flex-direction: column;
    color: currentColor;
    text-transform: uppercase;
    margin-left: 8px;
    padding-top: 3px;
}
.logo:hover
 {
     color: #F26522;
    cursor: pointer;
}
.contacts{
    display: flex;
    flex-direction: column;
    color: currentColor;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

}
.phone{
    margin-top: 19px;
    align-self: end;
}
.milan{
    width: 140px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: currentColor;

}
.milan:first-line {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    color:#F26522 ;
}
.grid{
    width: 1028px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 55px 37px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.img{
    width: 300px;
    height: 220px;
    position: relative;
    overflow: hidden;
    /*background-color: black;*/
}
.img1{
    background-image: url("./img/image-5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img2{
    background-image: url("./img/image-4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img3{
    background-image: url("./img/image-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img4{
    background-image: url("./img/image-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img5{
    background-image: url("./img/image-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img6{
    background-image: url("./img/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.description{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: white;
}
.hidden{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 12px 12px;
    background-color: #F26522;
    position: absolute;
    bottom: -55px;
    transition: .75s;
}
.price{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.label{
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: white;
}
.amount{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: white;
}
.details{
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: white;
}
.arrow{
    width: 10px;
    height: 10px;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    transform: rotate(45deg);
}
.item:hover .img .hidden{
    bottom: 0;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 58px;
    width: 100%;
    color: white;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}