*{
    font-family: Montserrat;
    box-sizing: border-box;

}
.theme{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(24,11,13,1) 100%);
    color: #FFFFFF;
}
.header {
    width: 100%;
    padding: 32px 0;
    align-items: center;
}
.nav_link{
   width: 620px;
    margin: 0 auto;
}
.menu_link{
    display: flex;
    margin-right: 72px;
    column-gap: 72px;
    text-transform: uppercase;
    list-style: none;
}
.menu_link:nth-last-child(4){
    margin-right: 50px;
}

a{
    text-decoration: none;
    color: #FF0000;
}
.img{
    width: 100%;
    height: 789px;
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    width: 100%;
    padding: 48px 68px 42px;
    text-align: center;
}
h2{
    width: 100%;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
    margin-bottom: 38px;
    color: #373737;
}
.main-text{
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-style: normal;
    margin-top: 28px;
    color: #373737;
    letter-spacing: 2px;
}
.text{
    margin-top: 28px;
    width:100%;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    text-align: center;
    letter-spacing:2px;
    color: #373737;
}
.button{
    margin-top: 66px;
    padding: 18px 43px;
    position: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF0000;
    border: none;
}
.footer{
    text-align: end;
    font-size:16px;
    line-height: 20px;
    letter-spacing: 2px;
}